<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stageet"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainConnexion">
        </activity>
        <activity
            android:name=".MainChoixEmployeurRecherche">
        </activity>
        <activity
            android:name=".MainChoixNom">
        </activity>
        <activity
            android:name=".ChoixPrenom">
        </activity>
        <activity
            android:name=".MainChoixNaissance">
        </activity>
        <activity
            android:name=".MainChoixDomaineEtude">
        </activity>
        <activity
            android:name=".MainChoixAnnee">
        </activity>
        <activity
            android:name=".MainChoixLocalisation">
        </activity>
        <activity
            android:name=".MainChoixEmail">
        </activity>
        <activity
            android:name=".MainChoixMdp">
        </activity>
        <activity
            android:name=".MainEmployeurNomEntreprise">
        </activity>
        <activity
            android:name=".MainEmployeurLocalisation">
        </activity>
        <activity
            android:name=".MainEmployeurEmail">
        </activity>
        <activity
            android:name=".MainEmployeurMdp">
        </activity>
        <activity
            android:name=".MainEmployeurNumeroTel">
        </activity>
        <activity
            android:name=".MainEmployeurAjoutLien">
        </activity>
        <activity
            android:name=".MainPageOffre">
        </activity>
        <activity
            android:name=".Profil_user">
        </activity>
        <activity
            android:name=".PageNewOffre">
        </activity>
        <activity
            android:name=".MainPageEntreprise">
        </activity>
        <activity
            android:name=".CreationOffre">
        </activity>
        <activity
            android:name=".ProfilEntreprise">
        </activity>
        <activity
            android:name=".CandidatEntreprise">
        </activity>
        <activity
            android:name=".FragmentDatePublication">
        </activity>
        <activity
            android:name=".FragmentDuree">
        </activity>
        <activity
            android:name=".FragmentRemuneration">
        </activity>
        <activity
            android:name=".ProfilInfoPerso">
        </activity>
        <activity
            android:name=".ProfilExpPro">
        </activity>
        <activity
            android:name=".CreationDiplome">
        </activity>


    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>